/* BASIC RESET */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
ol,
li,
a,
i {
  margin: 0;
  padding: 0;
  font-family: arial;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
}

/* CONTAINERS */
.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col{
  display: flex;
  flex-direction: column;
}
.c1 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 60px;
  max-width: 95%;
}
.c2 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 140px;
  max-width: 95%;
}
.c3 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 220px;
  max-width: 95%;
}
.c4 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 300px;
  max-width: 95%;
}
.c5 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 380px;
  max-width: 95%;
}
.c6 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 460px;
  max-width: 95%;
}
.c7 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 540px;
  max-width: 95%;
}
.c8 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 620px;
  max-width: 95%;
}
.c9 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 700px;
  max-width: 95%;
}
.c10 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 780px;
  max-width: 95%;
}
.c11 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 860px;
  max-width: 95%;
}
.c12 {
  box-sizing: border-box;
  margin: 0 10px;
  flex: 0 0 940px;
  max-width: 95%;
}

/* HORIZONTAL ALIGNMENT */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}

/* VERTICAL ALIGNMENT */
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-stretch {
  align-items: stretch;
}
